@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	--clr-black: #000;
	--clr-white: #fff;
	--clr-purple: hsla(249, 63%, 30%, 1);
	--clr-blue: hsla(180, 84%, 67%, 1);

	--font-text: 'Montserrat', sans-serif;
	--font-accent: 'Dosis', 'Courier New', monospace;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: var(--clr-purple);
	font-family: var(--font-text);
}

a {
	font-family: var(--font-accent);
}

.tag {
	font-size: 1rem;
	font-style: oblique;
	font-weight: bold;
}
